.ss-thetajmahal {
    font-size: small;
    font-size: xx-large;
    text-align:left;
    transition: 1s;
}

.ss-thetajmahal:hover{
    background: radial-gradient(circle at top left,	#FFffff,	black);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: 1s;
}

.preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 999;
}

.ss-textgroup{
    background-color: rgba(0 , 0 , 0 , 0.55);
    border-left: 9px solid white;
    border-radius:0.05;
    padding: 40px ;
    text-align: left;
}

.ss-blackbox{
    border-radius: 0.2rem;
    background-color: rgb(0 , 0 , 0 );
    padding: 3rem;
    box-shadow:  5 2px 5px rgba(0,0,0,0.5), 0 6px 35px rgba(0,0,0,0.2);
}

.hr{
    width: 70%;
    border-top: 1px solid #FFF;
    margin-left:0.09em;
}

.ss-sreyasaju{
    font-weight: bolder;
    font-size: 1.19em;
    background: radial-gradient(circle at bottom left,darkviolet,magenta );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.ss-sreyasaju:hover{
    color:aliceblue;
}

.ss-blockquote:hover{
    background-color:#b9bbbe;
    transition: 0.5s;
    color:#1f1f1f;
    box-shadow: black;
}

.ss-hovershadow{
    transition: 1s;
}

.ss-hovershadow:hover{
    box-shadow: 4px 4px 25px #161616;
    transition: 1s;

}

.ss-hovertextshadow{
    transition: 1s;
}
.ss-hovertextshadow:hover{
    text-shadow: 4px 4px 10px #161616;
    transition: 1s;

}

.ss-myname{
    font-size: 0.50em;
    text-align-last: center;
    color:aliceblue;
    text-shadow: 2px 2px 5px #161616;
}

.ss-name{
    font-size: 1.10em;
}


.fa-angle-double-down{
    color:#00ccff;
    animation: bounce-down 2s infinite both ease-out;
    border-radius: 100%;
    box-shadow:  5 2px 5px rgba(0,0,0,0.5), 0 6px 35px rgba(0,0,0,0.2);
    height:16px;
    width:16px;
}

.fa-angle-double-down:hover{
    color:#00a2ff;
}

@keyframes bounce-down {
	0%, 10%, 25%, 40%, 50% {transform: translateY(0);}
	20% {transform: translateY(10px);}
	30% {transform: translateY(-5px);}
}

.ss-fontsize-increase{
    font-size: 1.8em;
}